<%= link_to "New Ride Year", new_ride_year_path %>

<br><br>

<% @ride_years.each do |ride_year| %>
  <ul>
    <li><strong>Year:</strong> <%= ride_year.year %> <%= link_to "[edit]", edit_ride_year_path(ride_year) %> <%= link_to "[delete]", ride_year, method: :delete %> </li>
    <li><strong>Registration Fee: </strong>$<%= ride_year.registration_fee %></li>
    <li><strong>Early Registration Fee: </strong>$<%= ride_year.registration_fee_early %></li>
    <li><strong>Minimum Amount a Rider May Fundraise: </strong>$<%= ride_year.min_rider_fundraise %></li>
    <li><strong>Early Bird Cutoff:</strong> <%= ride_year.early_bird_cutoff %></li>
  </ul>
  <hr>
<% end %>
