<table class="reg_status_panel">
	<p>To participate in the ride, you must complete all of the pieces of the registration before *due date?*. Click on the links to complete your registration or edit existing info.</p>
	<tr>
		<th>Registration Details</th>
		<th>Complete?</th>
	</tr>
	<tr>
		<td><a href="#">Ride Option</a></td>
		<td> <%= @rider.ride_option %></td>
	</tr>
	<tr>
		<td>Mailing Address</td>
		<td>
			<% if @rider.mailing_address  %>
				<%= truncate( @rider.mailing_address.one_liner )%> 
			<% else %>
				<i class="fa fa-square-o"></i>
			<% end %>

		</td>
	</tr>
	
	<tr>
		<td>Phones</td>
		<td>
			<% if @rider.primary_phone || @rider.secondary_phone %>
				<i class="fa fa-check-square-o"></i>
			<% else %>
				<i class="fa fa-square-o"></i>
			<% end %>

		</td>
	</tr>
	<tr>
		<td>Birthdate</td>
		<td>
			<% if @rider.birthdate  %>
				<%= truncate( @rider.birthdate.strftime("%B %d, %Y") )%> 
			<% else %>
				<i class="fa fa-square-o"></i>
			<% end %>

		</td>
	</tr>
	<tr>
		<td>Photo</td>
		<td>
			<% if @rider.photo_file_size  %>
				<i class="fa fa-check-square-o"></i>
			<% else %>
				<i class="fa fa-square-o"></i>
			<% end %>

		</td>	</tr>
	<tr>
		<td>Bio</td>
		<td>
			<% if @rider.bio  %>
				<i class="fa fa-check-square-o"></i>
			<% else %>
				<i class="fa fa-square-o"></i>
			<% end %>

		</td>
	</tr>
	<tr>
		<td>Registration Fee</td>
		<td>
			<% if @rider.paid  %>
				<i class="fa fa-check-square-o"></i>
			<% else %>
				<i class="fa fa-square-o"></i>
			<% end %>

		</td>
	</tr>
	<tr>
		<td>Fundraising Goal</td>
		<td>
			<%= sprintf( "%0.02f", @rider.goal )	  %>
		</td>
	</tr>
</table>


<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for( setup_mailing_addy_receipt(@rider), remote: remote, html: {role: :form, 'data-model' => 'person'}  ) do |f| %>
		<%= f.label :ride_option, 'Choose which ride option you want to participate in:' %><br />
	  <%= f.select :ride_option, RiderReg.ride_options %>

	  <%= f.submit 'Submit' %>
<% end %>



