<div class="form_container">
 
  <h3>Registration Fee</h3>

  <%= form_for setup_mailing_addy_receipt(@rider_reg) do |f| %>

      <%= f.fields_for :receipt do |ff|%>
      <% end %>

      <%= f.fields_for :mailing_address do |ff| %>
        <div>
        <h4>Your Primary Mailing Address</h4>
        <%= ff.label :line1, 'Line 1' %><br>
        <%= ff.text_field :line1 %>
        
        <%= ff.label :line2, 'Line 2' %><br>
        <%= ff.text_field :line2 %>
        
        <%= ff.label :city %><br>
        <%= ff.text_field :city %>

        <%= ff.label :state %><br>
        <%= ff.select :state, fiddy_states %>


        <%= ff.label :zip %><br>
        <%= ff.text_field :zip %>
        </div>
      <% end %>
    

  <% end %>



  <%= form_for @receipt, url: rider_regs_registration_fee_path(@rider_reg), method: :put do %>
    <%= label_tag :type, "Credit Card Type:" %>
    <%= select_tag :type, options_for_select([['Visa', 'visa'], ['Mastercard', 'mastercard'], ['Discover', 'discover'], ['AMEX', 'amex']]) %>
    <br>
    <%= label_tag :credit_card, "Credit Card Number:" %>
    <%= text_field_tag :credit_card, nil, maxlength: 16 %>
    <br>
    <%= label_tag :expire_month, "Month (MM):" %>
    <%= text_field_tag :expire_month, nil, maxlength: 2  %>
    <br>
    <%= label_tag :expire_year, "Year (YYYY):" %>
    <%= text_field_tag :expire_year, nil, maxlength: 4  %>
    <br>
    <%= label_tag :cvv2, "CVV2:" %>
    <%= text_field_tag :cvv2, nil, maxlength: 4  %>
    <br>
    <%= label_tag :first_name, "First Name:" %>
    <%= text_field_tag :first_name %>
    <br>
    <%= label_tag :last_name, "Last Name:" %>
    <%= text_field_tag :last_name %>
    <br>
    
    <div class="use_db_address">
      <h4>Use this address for billing?</h4>
      
      <%= @db_address.line1 %></br>
      <%= @db_address.line2 %></br>
      <%= @db_address.city %></br>
      <%= @db_address.state %></br>
      <%= @db_address.zip %></br>

       
      <select name="use_db_address">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>

    </div>

    <div class="separate_address_option">
      <h4>Alternate Billing Address</h4>
      <%= label_tag :line1, "Address 1:" %>
      <%= text_field_tag :line1 %>
      <br>
      <%= label_tag :line2, "Address 2:" %>
      <%= text_field_tag :line2 %>
      <br>
      <%= label_tag :city, "City:" %>
      <%= text_field_tag :city %>
      <br>
      <%= label_tag :state, "State:" %>
      <%= text_field_tag :state, nil, maxlength: 2 %>
      <br>
      <%= label_tag :postal_code, "Postal Code:" %>
      <%= text_field_tag :postal_code, nil, maxlength: 5 %>
      <br>
    </div>
    <%= hidden_field_tag :total, 650 %>
    <p>By clicking "Register", I agree to pay $650.</p>
    <%= submit_tag 'Register' %>
  <% end %>
</div> 
