<div class="form_container">
 
  <h3>Registration Fee</h3>

  <%= form_for setup_mailing_addy_receipt(@rider_reg),url: rider_regs_registration_fee_path(@rider_reg), method: :put do |f| %>

      <%= f.fields_for :receipt do |ff|%>
        <%= ff.label :type, "Credit Card Type:" %>
        <%= ff.select :type, options_for_select([['Visa', 'visa'], ['Mastercard', 'mastercard'], ['Discover', 'discover'], ['AMEX', 'amex']]) %>
        <br>
        <%= ff.label :credit_card, "Credit Card Number:" %>
        <%= ff.text_field :credit_card %>
        <br>
        <%= ff.label :expire_month, "Month (MM):" %>
        <%= ff.select :month, options_for_select(month_names_nums)  %>
        <br>
        <%= ff.label :expire_year, "Year:" %>
        <%= ff.select :expire_year, options_for_select(cc_years_range)    %>
        <br>
        <%= ff.label :cvv2, "CVV2:" %>
        <%= ff.text_field :cvv2 %>
        <br>
        <%= ff.label :first_name, "First Name:" %>
        <%= ff.text_field :first_name %>
        <br>
        <%= ff.label :last_name, "Last Name:" %>
        <%= ff.text_field :last_name %>
        <br>
      <% end %>

      <div class="reference_user_address">
        <h4>Use this address for billing?</h4>
        
        <%= @db_address.line1 %></br>
        <%= @db_address.line2 %></br>
        <%= @db_address.city %></br>
        <%= @db_address.state %></br>
        <%= @db_address.zip %></br>

         
        <select name="reference_user_address">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>

      </div>

      <%= f.fields_for :mailing_address do |ff| %>
        <div>
        <h4>Your Primary Mailing Address</h4>
        <%= ff.label :line1, 'Line 1' %><br>
        <%= ff.text_field :line1 %>
        
        <%= ff.label :line2, 'Line 2' %><br>
        <%= ff.text_field :line2 %>
        
        <%= ff.label :city %><br>
        <%= ff.text_field :city %>

        <%= ff.label :state %><br>
        <%= ff.select :state, fiddy_states %>


        <%= ff.label :zip %><br>
        <%= ff.text_field :zip %>
        </div>
      <% end %>
    

  <% end %>



 
    

    <div class="separate_address_option">
      <h4>Alternate Billing Address</h4>
      <%= label_tag :line1, "Address 1:" %>
      <%= text_field_tag :line1 %>
      <br>
      <%= label_tag :line2, "Address 2:" %>
      <%= text_field_tag :line2 %>
      <br>
      <%= label_tag :city, "City:" %>
      <%= text_field_tag :city %>
      <br>
      <%= label_tag :state, "State:" %>
      <%= text_field_tag :state, nil, maxlength: 2 %>
      <br>
      <%= label_tag :postal_code, "Postal Code:" %>
      <%= text_field_tag :postal_code, nil, maxlength: 5 %>
      <br>
    </div>
    <%= hidden_field_tag :total, 650 %>
    <p>By clicking "Register", I agree to pay $650.</p>
    <%= submit_tag 'Register' %>

</div> 
