<h2><%= @rider.full_name %></h2>

<p><%= @rider.first_name %> has raised <%= @rider.percent_of_goal %> of their goal of $<%= @rider.goal %> </p>

<div>replace with percentage of goal visualization</div>

<p><%= @rider.bio %></p>