<div class="form_container">

	<h3>Read and Review These Terms of Entry</h3>

	<!-- helper method, rider_regs_helper -->

	<%=	correct_terms_for_ride_option(@rider)%>

	<span>I have read the Riding4Reform terms and conditions above and 
		Hereby agree to abide by them. </span>
	<%= form_for(@rider, url: rider_regs_terms_of_entry_path, method: :put) do |f| %>
	  <%= label_tag(:accept_terms, "I understand and accept the terms.") %>
	  <%= check_box_tag(:accept_terms, true) %></br>

	  <br><%= f.submit %>
		
	<% end %>

</div>


<script>
	var checkbox = document.querySelector('#accept_terms');
	
	$(document).ready(function(){

		$('form').submit(function(e){
			if (!checkbox.checked){
				e.preventDefault();
				alert('u must to select me')
			}
			
			
		});

	});
</script>