<%= flash[:error] if flash[:error] %>

<%= form_tag("/admin", method: "post") do %>

	<div><%= label_tag :first_name %><br />
  <%= text_field_tag :first_name %></div>

	<div><%= label_tag :last_name %><br />
  <%= text_field_tag :last_name %></div>

  <div><%= label_tag :email %><br />
  <%= email_field_tag :email %></div>

  <div><%= label_tag :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= password_field_tag :password %></div>

  <div><%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation %></div>

  <div><%= submit_tag "Create New Admin" %></div>
<% end %>