<!-- 		@current_admins = User.where(admin: true)
		@users = User.where(admin: false) -->


<h3>Current Admins:</h3>

<ul>
	<% @current_admins.each do |admin| %>
		<li><%= admin.full_name %></li>
	<% end %>
</ul>

There are <%= @users.count %> users without admin access

<h3>Create New Admin From Current Users:</h3>


	<%= form_tag("/admin", method: "post") do %>
		<% options = options_from_collection_for_select(@users, 'id', 'full_name') %>
		<%= select_tag :user_id,  options %>
	  <%= submit_tag("Create") %>
	<% end %>


<h3>Create New Admin, Add to System:</h3>

	<%= form_tag("/admin", method: "post") do %>


		<div><%= label_tag :first_name %><br />
	  <%= text_field_tag :first_name %></div>

		<div><%= label_tag :last_name %><br />
	  <%= text_field_tag :last_name %></div>

	  <div><%= label_tag :email %><br />
	  <%= email_field_tag :email, autofocus: true %></div>

	  <div><%= label_tag :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
	    <%= password_field_tag :password, autocomplete: "off" %></div>

	  <div><%= label_tag :password_confirmation %><br />
	    <%= password_field_tag :password_confirmation, autocomplete: "off" %></div>

	  <div><%= submit_tag "Sign up" %></div>
	<% end %>

<h3>Remove Existing Admin:</h3>