<%= form_for @donation, url: donations_create_path(@rider) do |d| %>

  <div class="donationSteps" id="privacyAndMessage">
  
    <%= d.label :anonymous, "Would you like your donation to be anonymous on the rider's profile page? The amount will be tallied in the total, but your name will not be listed publically."%>
    <%= d.select :anonymous, options_for_select([['No', 'false'],['Yes', 'true']]) %>

    <%= d.label :message_to_rider, "Your message to the rider, shown on their page (optional):" %>
    <%= d.text_area :message_to_rider %>

  </div>
  
  <%= d.fields_for :receipt do |dr| %>
    
    <div class="donationSteps emailAmount">
  
      <%= dr.label :amount, 'Amount you wish to donate:' %>
      <%= dr.text_field :amount %>
    </div>
    <!-- dr. ( amount ) -->
    <div class="donationSteps" id="dbAddy">

      <%= dr.label :reference_user_address, 'Use this as your billing address?' %>
      <br><span class="addyInsert"></span>
      <%= dr.select :reference_user_address, options_for_select([['Please Choose', nil],['No', 'false'],['Yes', 'true']]) %>
    </div>

      <%= render partial: 'cc_form' %>
    <!-- cc_info including first _ last names-->
    
    <%= dr.fields_for :user do |dru| %>
      
      <div class="donationSteps emailAmount">

        <%= dru.label :email, 'Your Primary Email Address' %>
        <%= dru.text_field :email %>
      </div>
    <% end %>
    <%= dr.fields_for :mailing_address do |drm| %>
      <div class="newAddy donationSteps">      
        <h4>Credit Card Billing Address</h4>
        <%= drm.label :line1 %>
        <%= drm.text_field :line1 %>
        <%= drm.label :line2 %>
        <%= drm.text_field :line2 %>
        <%= drm.label :city %>
        <%= drm.text_field :city %>
        
        <%= drm.label :state %>
        <%= drm.select :state, fiddy_states %>

        <%= drm.label :zip %>
        <%= drm.text_field :zip, :maxlength => 5  %>
      </div>      
    <% end %>

  <% end %>

  <%= submit_tag 'Next' %>
<% end %>
