<%= form_for @donation, url: donations_create_path(@rider) do |d| %>

  <div class="donationSteps" id="privacyAndMessage">
  
    <%= d.label :anonymous, "Would you like your donation to be anonymous on the rider's profile page? The amount will be tallied in the total, but your name will not be listed publically."%>
    <%= d.select :anonymous, options_for_select([['No', 'false'],['Yes', 'true']]) %>

    <%= d.label :message_to_rider, "Your message to the rider, shown on their page (optional):" %>
    <%= d.text_area :message_to_rider %>

  </div>
  
  
  <%= d.fields_for :receipt do |dr| %>

    <%= dr.label :amount, 'Amount you wish to donate:' %>
    <%= dr.text_field :amount %>
    <!-- dr. ( amount ) -->
    <!-- dr. (reference_user_address, amount ) -->

      <!-- dr. (reference_user_address) -->

    <!-- cc_info including first _ last names-->
    
    <%= dr.fields_for :user do |dru| %>
    
      <!-- dru. (email) -->

    <% end %>
    <%= dr.fields_for :mailing_address do |drm| %>


        <!-- drm. (addy stuff) -->
      
    <% end %>

  <% end %>


<% end %>
