

<%= link_to rider_reg_path(rider), class: 'grid-item'  do %>
	
	<% if rider.photo_file_size %>
		<%= image_tag rider.photo.url(:square), :class => "img" %>
	<% else %>
		<i class="fa fa-bicycle"></i>
	<% end  %>
  
  <h1><%= rider.full_name %></h1>
  <p><%= rider.first_name %> has raised <%= rider.percent_of_goal %>% of their goal.</p>

<% end %>

