<div class="donationSteps"> 
		<%= label_tag :type, "Credit Card Type:" %>
    <%= select_tag :type, options_for_select([['Visa', 'visa'], ['Mastercard', 'mastercard'], ['Discover', 'discover'], ['AMEX', 'amex']]) %>
    <br>
    <%= label_tag :credit_card, "Credit Card Number (no spaces please):" %>
    <%= text_field_tag :credit_card, maxlength: 16 %>
    <br>

    <div>
    <div class="form_thirds">
    <%= label_tag :expire_month, "Month (MM):" %>
    <%= select_tag :month, options_for_select(month_names_nums)  %>
    <br>
    </div>
    <div class="form_thirds">
    <%= label_tag :expire_year, "Year:" %>
    <%= select_tag :expire_year, options_for_select(cc_years_range)    %>
    <br>
    </div>
    <div class="form_thirds">
    <%= label_tag :cvv2, "CVV2:" %>
    <%= text_field_tag :cvv2, :maxlength => 4 %>
    <br>
    </div>
    </div>

    <%= label_tag :first_name, "First name as it appears on card:" %>
    <%= text_field_tag :first_name %>
    <br>
    <%= label_tag :last_name, "Last name as it appears on card:" %>
    <%= text_field_tag :last_name %>
    <br>
</div>   
