<p>Thank you for choosing to donate to <%= @rider.full_name %>'s campaign!</p>

<div class="show_donation_in_process">
	<h4>Your Donation to <%= @rider.full_name %>:</h4>
	<ul>
		
	</ul>
</div>

<%= form_for @donation, url: donations_create_path(@rider) do %>

	<div class="donationSteps" id="emailAmount">
	  <%= label_tag :user_email, 'Your email address:' %><br />
	  <%= text_field_tag :email %>

	  <%= label_tag :amount, 'Amount you wish to donate:' %><br />
	  <%= text_field_tag :amount %>
	</div>

	<div class="donationSteps" id="privacyAndMessage">
	  <%= label_tag :privacy, "Would you like your donation to be anonymous on the rider's profile page? The amount will be tallied in the total, but your name will not be listed publically." %><br />
	  <select name="privacy" id='privacy'>
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select></br>
    <%= label_tag :message, 'Your note to the rider (optional):' %>
    <%= text_area_tag :message %>
	</div>
	<div class="donationSteps" id="dbAddy">
	  <%= label_tag :mailing_yay_or_nay, 'Reference this mailing address?' %><br />
	  <br><span class="addyInsert"></span>
	  <select name="mailing_yay_or_nay" id='mailing_yay_or_nay'>
          <option value="nil">Please Select</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
	</div>
	<div class="newAddy donationSteps">
		<h4>Billing Address</h4>
      <%= label_tag :line1, 'Line 1' %><br>
      <%= text_field_tag :line1 %>
      
      <%= label_tag :line2, 'Line 2' %><br>
      <%= text_field_tag :line2 %>
      
      <%= label_tag :city %><br>
      <%= text_field_tag :city %>

      <%= label_tag :state %><br>
      <%= select_tag :state, options_for_select(fiddy_states) %>


      <%= label_tag :zip %><br>
      <%= text_field_tag :zip %>
	</div>

	<%= render partial: 'cc_form' %>

	<%= submit_tag 'Next' %>
<% end %>

