<p>Thank you for choosing to donate to <%= @rider.full_name %>'s campaign! Please enter the amount you would like to donate, and your email address.</p>

<div class="show_donation_in_process">
	<ul>
		
	</ul>
</div>

<%= form_for @donation, url: donation_queries_path do %>

	<div>
	  <%= label_tag :user_email, 'Your email address:' %><br />
	  <%= text_field_tag :email %>
	</div>
	<div>
	  <%= label_tag :amount, 'Amount you wish to donate:' %><br />
	  <%= text_field_tag :amount %>
	</div>
	<%= submit_tag 'Donate' %>
<% end %>

<script>

	var dfb = new DonationsFormBuilder({
		'form' : $('form') ,
		'query_path' : '<%= donation_queries_path %>',
		'submission_path' : '<%= donations_create_path(@rider) %>'
	});
	// $('form').submit(function(e){
	// 	e.preventDefault();
	// 	console.log(e);

	// 	$.ajax({
	// 		type: "POST",
	// 	  url: '<%= donation_queries_path %>',
	// 	  data: {
	// 	  	email: 'foo@bar.com'
	// 	  }
	// 	}).done(function(response) {
	// 	  console.log(response);
	// 	});	})

</script>