<p>Thank you for choosing to donate to <%= @rider.full_name %>'s campaign! Please enter the amount you would like to donate, and your email address.</p>

<div class="show_donation_in_process">
	<h4>Your Donation to <%= @rider.full_name %>:</h4>
	<ul>
		
	</ul>
</div>

<%= form_for @donation, url: donation_queries_path do %>

	<div>
	  <%= label_tag :user_email, 'Your email address:' %><br />
	  <%= text_field_tag :email %>
	</div>
	<div>
	  <%= label_tag :amount, 'Amount you wish to donate:' %><br />
	  <%= text_field_tag :amount %>
	</div>
	<div>
	  <%= label_tag :mailing_yay_or_nay, 'Reference this mailing address?' %><br />
	  <br><span class="addyInsert"></span>
	  <select name="mailing_yay_or_nay" id='mailing_yay_or_nay'>
          <option value="nil">Please Select</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
	</div>
	<div class="newAddy">
		<h4>Separate Billing Address</h4>
      <%= label_tag :line1, 'Line 1' %><br>
      <%= text_field_tag :line1 %>
      
      <%= label_tag :line2, 'Line 2' %><br>
      <%= text_field_tag :line2 %>
      
      <%= label_tag :city %><br>
      <%= text_field_tag :city %>

      <%= label_tag :state %><br>
      <%= select_tag :state, fiddy_states %>


      <%= label_tag :zip %><br>
      <%= text_field_tag :zip %>
	</div>

	<%= render partial: 'cc_form' %>

	<%= submit_tag 'Process' %>
<% end %>

<script>

	var dfb = new DonationsFormBuilder({
		'form' : $('form') ,
		'query_path' : '<%= donation_queries_path %>',
		'submission_path' : '<%= donations_create_path(@rider) %>'
	});
	// $('form').submit(function(e){
	// 	e.preventDefault();
	// 	console.log(e);

	// 	$.ajax({
	// 		type: "POST",
	// 	  url: '<%= donation_queries_path %>',
	// 	  data: {
	// 	  	email: 'foo@bar.com'
	// 	  }
	// 	}).done(function(response) {
	// 	  console.log(response);
	// 	});	})

</script>