<!DOCTYPE html>
<html>
<head>
  <title>Ride4reform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-no-turbolink' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render partial: 'partials/navbar' %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<main>
		<%= yield %>
	</main>

</body>
</html>
